body {
    margin-top: 8.2rem;
    height: 100%;
}

.navbar {
    border-bottom: 2px solid #ffc107;
    background: #ffffff;
    opacity: 0.9;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #ffc107 !important;
}

#navigation-content a.active {
    color: #ffc107;
}

#navigation-content li.nav-item.active {
    color: #ffc107;
}

#home-section {
    position: relative;
    min-height: 650px;
    background-size: 85%;
    background: #fff url("../images/header-form-bg.jpg") no-repeat;
    background-position: -50% 50%;
    background-size: 60vw;
}

#home-section .overlay .container .link {
    color: black;
}

#home-section .overlay .container .link:hover {
    color: black;
    font-style: oblique;
    text-decoration: none;

}

#home-section h1 {
    font-weight: 200;
    color: #000000;
}

#home-section h2 {
    font-weight: 200;
    color: #000000;
}

.option {
    color: #333333;
    border: 1px solid #000000;
    width: 45%;
    height: 90%;
    font-size: 1.4rem;
}

.option:hover {
    border: 2px solid #ffc107;
    color: #ffc107;
}

#home-icons {
    background-image: url("../images/stats-bg.jpg");
}

#home-icons .col-md-4:hover {
    color: rgba(234, 242, 237, 1);
}

#instruction .container {
    background-color: rgba(213, 218, 215, 1);
}

#instruction h3 {
    font-weight: 200;
}

#instruction h4::after {
    border-bottom: #000000 1px solid;
    content: "";
    display: block;
    width: 60%;
    height: 30px;
    background-size: contain;
    margin-left: 20%;
}

#instruction #create .link {
    color: black;
}

#instruction #create .link:hover {
    color: black;
    text-decoration: none;
}

#create {
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
    border-radius: 0;
    font-size: 2rem;
}

#create:hover {
    background-color: #ffc107;
    color: #ffffff;
    border-color: #000000;
    border-radius: 0;
}

#about-us {
    background-color: #c2bdbd;
}

#about-us h3 {
    font-weight: 300;
    border-bottom: 1px solid #000000;
}

#support .nav-link {
    border: none;
    color: #000000;
}

#support .nav-link.active {
    border: 1px solid #000000;
    color: #ffffff;
    background-color: #ffc107;
}

#support .nav-link:hover {
    border: 1px solid #000000;
}

#support .nav-link:focus {
    border: 1px solid #000000;
    color: #ffffff;
    background-color: #ffc107;
}

#support .tab-content {
    border: none;
}

#support h2::after {
    border-bottom: #000000 1px solid;
    content: "";
    display: block;
    width: 70%;
    height: 30px;
    background-size: contain;
    margin-left: 15%;
}

#main-footer {
    background-image: url("../images/footer-bg.jpg");
    position: relative;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

#main-footer .submit {
    border-radius: 0;
    border-color: #000000;
    background-color: transparent;
}

#main-footer .submit:hover {
    border-radius: 0;
    border-color: #ffc107;
    background-color: transparent;
}

#copyright {
    color: #ffffff;
}

#twitter-icon, #facebook-icon, #instagram-icon {
    color: #000000;
}

#twitter-icon:hover {
    color: #00aced;
}

#facebook-icon:hover {
    color: #3C5A99;
}

#instagram-icon:hover {
    color: #C13584;
}

/*Register Page*/

#register-page {
    position: relative;
    background: url("../images/header-bg.jpg") no-repeat;
    background-position: -55% 100%;
    min-height: 650px !important;
    background-size: 70vw;
}

#register-page h2 {
    font-weight: 200;
}

#register-page h2::after {
    border-bottom: #000000 1px solid;
    content: "";
    display: block;
    width: 90%;
    height: 30px;
    background-size: contain;
    margin-left: 5%;
}

.error {
    color: red;
}

#adding-institution-section,
#edit-collection-section,
#edit-donation-section {
    background-image: url("../images/form-bg.jpg");
    background-position: 50% 50%;
    position: relative;
    background-repeat: no-repeat;
    background-size: 110vw;
    min-height: 700px;
    padding-bottom: 45px;
}


#register-page .form-register,
#login-section .form-login,
#adding-institution-section .add-institution-form {
    background: transparent;
    margin-top: 60px;
    position: relative;
}

#login-section .form-login h2,
#adding-institution-section .add-institution-form h2 {
    text-align: center;
    margin-bottom: 60px;
}

#register-page .form-register-item,
#login-section .form-login-item {
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
}

#all-user-section, #all-institutions-section, #login-section {
    background-image: url("../images/form-bg.jpg");
    background-position: bottom left 20vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: 90vw;
    min-height: 600px;
}

#register-page .form-register,
#login-section .form-login,
#edit-personal-details-section .form-edit-personal-details,
#edit-donation-section .edit-donation-form,
#edit-collection-section .edit-collection-form,
#adding-institution-section .add-institution-form,
#forgot-password-section .form-forgot-password,
#main-footer .form-footer {
    background: transparent;
    margin-top: 60px;
    position: relative;
}

#register-page .form-register-item,
#login-section .form-login-item,
#edit-personal-details-section .edit-personal-details-item,
#edit-donation-section .edit-donation-form-item,
#edit-collection-section .edit-collection-form-item,
#adding-institution-section .add-institution-form-item,
#forgot-password-section .form-forgot-password-item,
#main-footer .form-footer-item {
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 20px 0;
}

#register-page .form-register-item input,
#login-section .form-login-item input,
#edit-personal-details-section .edit-personal-details-item input,
#edit-donation-section .edit-donation-form-item input,
#edit-collection-section .edit-collection-form-item input,
#adding-institution-section .add-institution-form-item input,
#forgot-password-section .form-forgot-password-item input,
#main-footer .form-footer-item input {
    font-size: 15px;
    color: #000000;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

#register-page .form-register-item span::before,
#login-section .form-login-item span::before,
#edit-personal-details-section .edit-personal-details-item span::before,
#edit-donation-section .edit-donation-form-item span::before,
#edit-collection-section .edit-collection-form-item span::before,
#adding-institution-section .add-institution-form-item span::before,
#forgot-password-section .form-forgot-password-item span::before,
#main-footer .form-footer-item span::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: 1;
    transition: .5s;
}

#register-page .form-register-item span::after,
#login-section .form-login-item span::after,
#edit-personal-details-section .edit-personal-details-item span::after,
#edit-donation-section .edit-donation-form-item span::after,
#edit-collection-section .edit-collection-form-item span::after,
#adding-institution-section .add-institution-form-item span::after,
#forgot-password-section .form-forgot-password-item span::after,
#main-footer .form-footer-item span::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #ffc107;
    transition: .5s;
    left: 0;
    top: 40px;
}

#register-page .form-register-item .focus + span::before,
#login-section .form-login-item .focus + span::before,
#edit-personal-details-section .edit-personal-details-item .focus + span::before,
#edit-donation-section .edit-donation-form-item .focus + span::before,
#edit-collection-section .edit-collection-form-item .focus + span::before,
#adding-institution-section .add-institution-form-item .focus + span::before,
#forgot-password-section .form-forgot-password-item .focus + span::before,
#main-footer .form-footer-item .focus + span::before {
    top: -5px;
}

#register-page .form-register-item .focus + span::after,
#login-section .form-login-item .focus + span::after,
#edit-personal-details-section .edit-personal-details-item .focus + span::after,
#edit-donation-section .edit-donation-form-item .focus + span::after,
#edit-collection-section .edit-collection-form-item .focus + span::after,
#adding-institution-section .add-institution-form-item .focus + span::after,
#forgot-password-section .form-forgot-password-item .focus + span::after,
#main-footer .form-footer-item .focus + span::after {
    width: 100%;
}

#forgot-password-section {
    position: relative;
    min-height: 200px;
}

#forgot-password-section h2::after {
    border-bottom: #000000 1px solid;
    content: "";
    display: block;
    width: 60%;
    height: 30px;
    background-size: contain;
    margin-left: 20%;
}

#pills-tab a {
    color: black;
    border-radius: 0;
}

#pills-tab a.active {
    background: #ffc107;
}

/*Make donation section*/
#donation-section {
    min-height: 600px;
}

#organize-collection-form-section,
#make-donation-form-section {
    width: 70%;
    min-width: 300px;
}

#organize-collection-form,
#donate-form {
    background: transparent;
    margin-top: 60px;
    position: relative;
}

#organize-collection-form .collect-form-item,
#donate-form .donate-form-item {
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 20px 0;
}

#organize-collection-form .collect-form-item input,
#donate-form .donate-form-item input {
    font-size: 15px;
    color: #000000;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

#organize-collection-form .collect-form-item span::before,
#donate-form .donate-form-item span::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: 1;
    transition: .5s;
}

#organize-collection-form .collect-form-item span::after,
#donate-form .donate-form-item span::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #ffc107;
    transition: .5s;
    left: 0;
    top: 40px;
}

#organize-collection-form .collect-form-item .focus + span::before,
#donate-form .donate-form-item .focus + span::before {
    top: -5px;
}

#organize-collection-form .collect-form-item .focus + span::after,
#donate-form .donate-form-item .focus + span::after {
    width: 100%;
}

#donate-form .dropdown {
    width: 300px;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    text-align: left;
}

#donate-form .dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px;
}

#donate-form .dropdown .select select.option {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}

#make-donation-instruction-section {
    position: relative;
    min-height: 650px;
    background-size: 85%;
    background: #fff url("../images/header-form-bg.jpg") no-repeat;
    background-position: -50% 50%;
    background-size: 60vw;
}

#make-donation-message-section {
    background-image: url("../images/stats-bg.jpg");
    min-height: 100px;
}

#organize-collection-form-section h1,
#make-donation-form-section h1 {
    text-align: center;
}

#organize-collection-form-section input,
#make-donation-form-section input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
}

#organize-collection-form-section input.invalid,
#make-donation-form-section input.invalid {
    background-color: #ff8482;
}

#organize-collection-form .tab,
#make-donation-form-section .tab {
    display: none;
}

#organize-collection-form-section button,
#make-donation-form-section button {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffc107;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}

#organize-collection-form-section button:hover,
#make-donation-form-section button:hover {
    background-color: #ffc107;
    color: #ffffff;
}

#organize-collection-form-section #prevBtn,
#make-donation-form-section #prevBtn {
    background-color: #bbbbbb;
    border: none;
    margin-right: 4px;
}

#organize-collection-form-section .step,
#make-donation-form-section .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

#organize-collection-form-section .step.active,
#make-donation-form-section .step.active {
    opacity: 1;
}

#organize-collection-form-section .step.finish,
#make-donation-form-section .step.finish {
    background-color: #ffc107;
}

#slogan-container {
    padding-left: 125px !important;
}

#slogan-container .slogan-item h1 {
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
}

#slogan-container .slogan-item span {
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    font-style: italic;
    color: #ffc107;
}

#slogan-container .slogan-title {
    text-align: center;
    font-size: 3.5rem;
    line-height: 5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-style: oblique;
}

#slogan-container ul {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
}

#slogan-container ul li {
    border: 1px solid #3c3c3c;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 125px;
    height: 125px;
    margin: 0 14px;
}

#slogan-container ul li div {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 125px;
    height: 125px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
}

#slogan-container ul li em {
    font-size: 1.5rem;
    font-style: normal;
}

#slogan-container ul li span {
    text-align: center;
    font-size: 1rem;
    margin-top: 15px;
}

#slogan-container .slogan-steps {
    padding-left: 40px;
}

/*Profile page + Admin page*/
#admin-page,
#profile-page {
    position: relative;
    background-position: -20% 50% !important;
    min-height: 800px !important;
    background-size: 70vw;
    background: url("../images/toy-car.jpeg") no-repeat;
}

.admin-options-container,
.profile-options-container {
    padding-left: 120px;
    padding-bottom: 40px;
}

.admin-options-container ul,
.profile-options-container ul {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
}

.admin-options-container ul li,
.profile-options-container ul li {
    border: 1px solid #3c3c3c;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 125px;
    height: 125px;
    margin: 0 14px;
}

.admin-options-container ul li div,
.profile-options-container ul li div {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 125px;
    height: 125px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.admin-options-container ul li span,
.profile-options-container ul li span {
    text-align: center;
    font-size: 1rem;
    margin-top: 45px;
}

.admin-element,
.profile-element {
    display: none;
    padding-bottom: 40px;
}

.make-visible {
    display: block !important;
}

.paint-yellow {
    border: 2px solid #ffc107 !important;
}

/*Edit personal details page*/
#edit-personal-details-section {
    position: relative;
    min-height: 700px;
    background: url("../images/toy-car.jpeg") no-repeat;
    background-position: -20% 50% !important;
    background-size: 45vw;
}

#edit-personal-details-section h1 {
    font-weight: 300;
}

#edit-personal-details-section h1::after {
    border-bottom: #000000 1px solid;
    content: "";
    display: block;
    width: 80%;
    height: 30px;
    background-size: contain;
    margin-left: 10%;
}

.test-visible {
    display: block;
    border: 2px solid red;
}

.test-invisible {
    display: none;
}

/*Institution details page*/
#user-details-page,
#institution-details-page {
    position: relative;
    min-height: 650px;
    background: #F6F4F5 url("../images/shoes.jpeg") no-repeat;
    background-position: 10% 50%;
    background-size: 110vw;
}

#user-details-page .overlay,
#institution-details-page .overlay {
    background: rgba(246, 244, 245, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#user-details-page h1 {
    font-weight: 200 !important;
    align-self: start;
}

#user-details-page h2 {
    font-weight: 200;
    margin-top: -15px;
    align-self: start;
}

.logout-article {
    width: 100%;
}

.logout-article .jumbotron {
    padding: 120px 60px;
    margin: 0;
    background: url("../images/charity.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: #f3f3f3;
}

#donation-summary-section,
#collection-summary-section {
    background: url("../images/header-bg.jpg") no-repeat 200% 50%;
    background-size: 80vw;

}

.donation-button-edit,
.collection-button-edit,
.donation-button-details,
.collection-button-details {
    background: #ffffff;
    border-color: #ffc107;
    color: #ffc107;
}

.donation-button-edit:hover,
.collection-button-edit:hover,
.donation-button-details:hover,
.collection-button-details:hover {
    background: #ffc107;
    border-color: #ffc107;
    color: #ffffff;
}

.collection-button-delete,
.donation-button-delete {
    background-color: #ffffff;
    border-color: #ff4444;
    color: #ff4444;
}

.collection-button-delete:hover,
.donation-button-delete:hover {
    background-color: #ff4444;
    border-color: #ff4444;
    color: #ffffff;
}

.user-donation-button-details,
.user-collection-button-details {
    background-color: #ffffff;
    border-color: #ffc107;
    color: #ffc107;
    margin-left: 70px;
}

.user-donation-button-details:hover,
.user-collection-button-details:hover {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #ffffff;
}

.custom-error-class {
    color: #ff4444;
    font-style: italic;
}
