<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:c="http://www.java.sun.com/jsp/jstl/core">
<head>
    <meta charset="UTF-8">
    <title>DonateThings</title>
</head>
<body>
<p th:text="${welcome}"></p>
<br>
<a th:href="@{/register}">Register</a>
<br>

<form th:action="@{/logout}" method="post">
    <button sec:authorize="isAuthenticated()" type="submit">Logout</button>
    <a sec:authorize="isAnonymous()" th:href="@{/login}" type="submit">Login</a>
</form>
<a sec:authorize="isAuthenticated()" th:href="@{/profile/}">Profile - available only for logged users</a>
<p sec:authorize="hasAuthority('ADMIN')">Manage - option visible only for admins</p>



<div sec:authorize="isAuthenticated()">
    Tutaj chcę wyświetlić imię zalogowanego użytkownika<br>
    Imię zalogowanego użytkownika: <span sec:authentication="name"></span>
    <!--<span th:text="${loggedUser.getFirstName()}"></span>-->
</div>










<!--<span sec:authentication="isAuthenticated()" th:text="${hello}"></span>-->


<!--<div th:if="${session}">-->
<!--<span th:text="${session.loggedUser2.firstName}"></span>-->
<!--</div>-->
<!--<div th:unless="${session}">-->
    <!--<div>Nic</div>-->
<!--</div>-->

    <!--<span sec:authorize="isAuthenticated()" th:utext="${session.loggedUser2.firstName}"></span>-->
    <!--<div sec:authorize="isAnonymous()">Nic</div>-->

<!--<div th:if="${session.isLogged}">-->
    <!--<p th:text="${yesSession}">message</p>-->
<!--</div>-->
<!--<div th:unless="${session.isLogged}">-->
    <!--<p th:text="${noSession}">message</p>-->
<!--</div>-->

</body>
</html>